USE [master]
GO
/****** Object:  Database [TaskTrDB]    Script Date: 03.02.2019 12:32:35 ******/
CREATE DATABASE [TaskTrDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskTrDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TaskTrDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TaskTrDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\TaskTrDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskTrDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskTrDB]
GO
/****** Object:  Table [dbo].[HistoryTable]    Script Date: 03.02.2019 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Story_id] [int] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Time_enter] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_HistoryTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StoryTable]    Script Date: 03.02.2019 12:32:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Story] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Time_enter] [datetime] NOT NULL,
 CONSTRAINT [PK_StoryTable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
